:root{
  box-sizing: border-box;
  --primary: #0977de;
  --hover-color: #104577;
  --dark: #333333;
  --light:#ffffff;
  --nav-bg: var(--primary);
}
*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-size: 1rem;
}